extends layout

mixin person(name, anchor)
  td
    .character
      h2(id=anchor)= name
      if block
        block
      else
        p Character Description Placeholder


block content
  #banner
    .bannercontent
      h1#title The Lord of Opium
      br
      br
      h2#title Nancy Farmer
  #content
    h1 Synopsis
    p.
      #[a(href='#c-matt') Matt] is the clone of #[a(href='#c-druglord') El Patron], a drug lord who ruled over Opium,
      a nation on the border between what is currently the United States of America and Mexico. After El Patron's death,
      Matt is left in charge but alone to fend for himself. Opium relies on microchipped slaves called #[a(href='#c-eejits') eejits]
      for labor needs. Matt sees how inhumane the whole process was, and as a clone whose organs were meant to be harvested,
      he was unable to let this continue. Matt sets out on a journey to free the eejits while trying to outsmart
      his enemies, who are after El Patron's wealth and power.
    br
    
    h1 Meet The Characters
    table.col2
      tr
        +person('Mateo "Matt" Alcran', 'c-matt')
          p.
            Matt was originally born as a clone, a source of organ transplants for El Patron, who was over a hundred years old.
            Normally, clones were supposed to be given a drug to cripple their minds, but it wasn't given to Matt. In the previous book,
            #[span.title The House of the Scorpion], Matt was given poison that stayed in his organs, making him unsuitable as a
            source of organs. After the funeral, Matt was the only Alcran alive, and so he became the new drug lord.
        +person('El Patron', 'c-druglord')
          p.
            El Patron founded his drug empire during the last 1900s or early 2000s. He owned vast poppy fields in a country called Opium, situated
            where the current-day border between Mexico and the US lies. El Patron relied on organs from clones to continue to survive, and
            created microchips to control captured slaves, known as #[a(href='#c-eejits') eejits]. El Patron also created the Scorpion Star,
            a space station, and a sun observatory dedicated to protecting the Star. He ruled without mercy and once shot down a passenger plane
            that flew into Opium as a way to assert his power.
      tr
        +person('The Eejits', 'c-eejits')
          p.
            Eejits are slaves, usually people captured while trying to cross the border between the US/Mexico and Opium. These slaves have
            microchips planted in their brains. Some chips allowed the slaves to repeat tasks for hours without rest, at the cost of removing
            almost all of their intelligence and identity. Other chips, such as those planted in #[a(href='#c-bodyguard') Cienfugos], allow
            thinking and freedom but prevent the person from leaving Opium or harming #[a(href='#c-druglord') El Patron]. The eejits are
            responsible for tending to the poppy fields and serving the Alcran family, but are not seen as humans.
        +person('Cienfugos', 'c-bodyguard')
          p.
            Cienfugos is the head of the Farm Patrol, the organization inside Opium responsible for capturing those attempting to cross and
            microchipping them. After the #[a(href='#c-druglord') El Patron]'s death, he begins to serve #[a(href='#c-matt') Matt].
            Cienfugos helps Matt establish authority and protects him from his enemies. Cienfugos supports Matt's goal of ending drug trade.
    
    br

    h1 Get The Book
    table.col2(class='align-top')
      tr
        td
          p You can get this book from #[a(href='https://www.amazon.com/Lord-Opium-Nancy-Farmer/dp/1442482559') Amazon] for $24.65 (paperback) or $12.41 (hardcover). Alternatively, it may be offered at your library, in either book form or ebook form.
          p #[span.title The Lord of Opium] was selected as part of the #[a(href='https://www.lapl.org/books-emedia/lapl-reads/book-lists/best-2013-teen-books') Best of 2013: Teen book list] by the Los Angeles Public Library. It's prequel, #[span.title The House of the Scorpion], has won various other awards, such as the #[a(href='https://www.nationalbook.org/awards-prizes/national-book-awards-2002') National Book Award for Young People's Literature].
        td
          img.getbook(src='/images/cover.jpg')
          span.idk I can't think of anything to put to fill this space...
  footer
    p This is not an official website. All rights belong to the author or copyright holder.
