extends layout

mixin person(name, anchor)
  td
    .character
      h2(id=anchor)= name
      if block
        block
      else
        p Character Description Placeholder


block content
  #banner
    .bannercontent
      h1#title The Lord of Opium
      br
      br
      h2#title Nancy Farmer
  #content
    h1 Synopsis
    p.
      words

    br
    
    h1 Meet The Characters
    table.col2
      tr
        +person('Mateo "Matt" Alcran', 'c-matt')
          p.
            clone
        +person('El Patron', 'c-druglord')
          p.
            druglord
      tr
        +person('Maria', 'c-maria')
          p.
            person
        +person('Esperanza Mendoze', 'c-diplomat')
          p.
            maria's mother
    
    br

    h1 Get The Book
    table.col2(class='align-top')
      tr
        td
          p You can get this book from #[a(href='https://www.amazon.com/Lord-Opium-Nancy-Farmer/dp/1442482559') Amazon] for $24.65 (paperback) or $12.41 (hardcover). Alternatively, it may be offered at your library, in either book form or ebook form.
          p #[span.title The Lord of Opium] was selected as part of the #[a(href='https://www.lapl.org/books-emedia/lapl-reads/book-lists/best-2013-teen-books') Best of 2013: Teen book list] by the Los Angeles Public Library. It's prequel, #[span.title The House of the Scorpion], has won various other awards, such as the #[a(href='https://www.nationalbook.org/awards-prizes/national-book-awards-2002') National Book Award for Young People's Literature].
        td
          img.getbook(src='/images/cover.jpg')
          span.idk (idk what else to put here)
  footer
    p This is not an official website. All rights belong to the author or copyright holder.
