:root {
  /* Palette */
  --primary: #e4b269;
  --secondary: #c34d28;
  --tertiary: #6e4a33;
  --background: #372221;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--primary);
  background-color: var(--background);
}

#banner {
  position: relative;
  display: table;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/cover_cropped.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.bannercontent {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#title {
  text-align: center;
  padding: 30px 0;
  font-weight: normal;

  background-color: var(--background);
  border-radius: 10px;
  padding: 15px;
  display: inline;
}

h1#title {
  font-size: 80px;
}

h2#title {
  font-size: 60px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 24px;
}

#content {
  margin: 50px;
}

.col2 {
  width: 100%;
  margin-top: 50px;
}

td {
  width: 50%;
  padding-left: 100px;
  padding-bottom: 50px;
}

.character h2 {
  margin-bottom: 5px;
}

td:has(.character h2:target) {
  background-color: var(--tertiary);
  border-radius: 5px; /* only visible when selected anyway */
}

.character p {
  font-size: 18px;
}

a {
  color: var(--secondary);
}

span.title {
  font-style: italic;
}

table.align-top td {
  vertical-align: top;
}

img.getbook {
  height: 300px;
}

span.idk {
  margin-left: 50px;
  display: none;
}

td:has(img.getbook:hover) span.idk {
  display: inline;
}

footer p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}
